.index{
  .container{
    .community{
      @include flexbox();
      @include flex-direction(column);
      height:100%;
      > *{
        width:100%;
      }
      header{
        height: .47rem;
        background:#cd0002;
        position: relative;
        p{
          width: 100%;
          font-size: .18rem;
          color: #fff;
          font-weight: bold;
          line-height: .47rem;
          text-align: center;
          margin:0 auto;
        }
        span,i{
          position: absolute;
          top: 0;
          right: 0;
          width:.47rem;
          height: 100%;
          text-align: center;
          line-height: .47rem;
          font-size:.29rem;
          color: #fff;
        }
        i{
          top: 0;
          right: .47rem;
        }

      }

      section{
        // iscroll pull to refresh
          .head {
              text-align: center;
              height: .3rem;
              line-height: .3rem;
          }
          .head img {
              display: inline-block;
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              transition: transform 150ms;
              -webkit-transition: transform 150ms;
              height: .15rem;
              width: .15rem;
          }
          .up {
              transform: rotate(360deg) !important;
              -webkit-transform: rotate(360deg) !important;
          }
          .foot {
              text-align: center;
              height: .3rem;
              line-height: .3rem;
          }
          .foot img {
              display: inline-block;
              /*transform: rotate(0deg);*/
              /*-webkit-transform: rotate(0deg);*/
              transition: transform 150ms;
              -webkit-transition: transform 150ms;
              height: .15rem;
              width: .15rem;
          }
          .down {
              transform: rotate(180deg) !important;
              -webkit-transform: rotate(180deg) !important;
          }


        div{
          width: 100%;
          height: 100%;

          h4{
            width: 100%;
            height: .3rem;
            line-height: .3rem;
            font-size: .15rem;
            color: #2e2e2e;
            text-align: center;
            &.fixed{
              position: fixed;
              top:0;
              left:0;
            }
          }
          ul{
            background:#fff;
            width: 100%;
            height: .68rem;
            @include border(0 0 1px 0,#d8d8d8);
            @include flexbox();
            li{
              @include flex(1);
              &:nth-child(1){
                @include border(0 1px 0 0,#d8d8d8);
              }
              @include flexbox();
              padding:.1rem 0 .1rem .11rem;
              div:first-child{
                width: .48rem;
                height: .48rem;
                img{
                  width: 100%;
                }
              }
              div:last-child{
                @include flex(1);
                height: .48rem;
                margin-left: .05rem;
                @include flexbox();
                @include flex-direction(column);
                p{
                  @include flex(1);
                  width: 100%;
                  height: 100%;
                  line-height: .24rem;
                  &:nth-child(1){
                    font-size:.13rem;
                    color: #2E2E2E;
                    position: relative;
                    span{
                      position: absolute;
                      top:0;
                      right: .1rem;
                      color: #0593FE;
                    }
                  }
                  &:nth-child(2){
                    font-size:.12rem;
                    color:#B4B4B4;
                  }
                }
              }

            }

          }
        }
      }
      h4{
        width: 100%;
        height: .3rem;
        line-height: .3rem;
        font-size: .15rem;
        color: #2e2e2e;
        background:#eceef0;
        text-align: center;
        &.fixed{
          position: fixed;
          top:.47rem;
          left:0;
        }
      }
    }
  }
}
